@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*{
    font-family: 'Acme', sans-serif;
}

body{
    background-color: #f2f0f0;
    padding: 0px;
    border: 0;
    margin: 50px 50px;
}

header{
    color: #2C3A43;
    text-align: center;
    letter-spacing: 10px;
    font-size: 20px;
}

nav{
    background-color: #5950AF;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 30px;
}

nav a{
    text-decoration: none;
    color: #f2f0f0;
    margin: 100px;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.2rem;
}

nav a:hover{
    border-radius: 5px;
    padding: 2px;
    background-color: #766ae9;
}

main{
    margin: 40px 40px;
    font-size: 50px;
}

article{
    margin-top: 50px;
    margin-bottom: 50px;
}


article h2{
    font-family: 'Acme', sans-serif;
    font-size: 40px;
    color: #5950AF;
}

article ul{
    color: #2C3A43;
}

li{
    margin-left: 50px;
    font-size: 25px;
}

.intereses{
    display: inline-block;
    background-color: #6A7590;
    box-shadow: 0 0 30px 0 #2C3A43;
    padding: 30px;
    border-radius: 2%;
}
.intereses li,
.intereses h2{
    color: #F3F3F2;
    
}

aside{
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: max-content;
    justify-items: center;
    grid-gap: 100px;
    float: right;
    margin: 20px;
    padding: 50px;
    background-color: #2C3A43;
    box-shadow: 0 0 30px 0 #2C3A43;
    border-radius: 2%;
}

img{
    margin: 20px;
    width: 180px;
    height: 220px;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 #F3F3F2;
    align-items: center;
}

video{
    box-shadow: 0 0 10px 0 #97A9B7;
    border-radius: 2%;
}

footer{
    text-align: center;
    font-size: 30px;
}