/* importar tipos de fuente */
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');   /* */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*{ /* asterisco para editar todo */
    font-family: 'Acme', sans-serif;
}

body{
    background-color: #f7fffe;
    padding: 0px;
    border: 0;
    margin: 50px 50px;
}

header{
    color: #0E2954;
    text-align: center;
    letter-spacing: 10px;
    font-size: 20px;
}

nav{
    background-color: #1F6E8C;
    padding: 20px;
    border-radius: 20px; /* cambiar borde */
    text-align: center;
    margin-bottom: 30px;
}

nav a{
    text-decoration: none;
    color: #f7fffe;
    margin: 100px;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.2rem;
}

nav a:hover{ /* hover para cambiar el color al pasar mouse por encima */
    border-radius: 5px;
    padding: 2px;
    background-color: #2E8A99;
}

main{
    margin: 40px 40px;
    font-size: 50px;
}

article{
    margin-top: 50px;
    margin-bottom: 50px;
}


article h2{
    font-family: 'Acme', sans-serif;
    font-size: 40px;
    color: #1F6E8C;
}

article ul{
    color: #0E2954;
}

li{
    margin-left: 50px;
    font-size: 25px;
}

.intereses{
    display: inline-block; /* elemento ocupa solo su contenido */
    background-color: #6A7590;
    box-shadow: 0 0 30px 0 #0E2954;
    padding: 30px;
    border-radius: 2%;
}
.intereses li,
.intereses h2{
    color: #F3F3F2; /* cambia el color a ambos objetos*/
    
}

aside{
    display: grid; /* grid para ordenar elementos del aside */
    grid-template-columns: max-content; /* cantidad de columnas*/
    grid-template-rows: max-content; /*cantidad de filas */
    justify-items: center;
    grid-gap: 100px; /* espacio entre elementos del grid*/
    float: right;  /* desplazar a la derecha */
    margin: 20px;
    padding: 50px;
    background-color: #0E2954;
    box-shadow: 0 0 30px 0 #0E2954;
    border-radius: 2%;
}

img{
    margin: 20px;
    width: 180px;
    height: 220px;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 #F3F3F2; /* para dar sombra a la imagen */
    align-items: center;
}

video{
    box-shadow: 0 0 10px 0 #97A9B7;
    border-radius: 2%;
}

footer{
    text-align: center;
    font-size: 10px;
}

/*========== MEDIA QUERIES ==========*/
/* For small devices */
@media screen and (max-width: 620px){
    nav{
        
        padding: 10px;
        border-radius: 20px; /* cambiar borde */
        text-align: center;
        margin-bottom: 0px;
    }

    img{
        margin: 20px;
        width: 150px;
        height: 200px;
        border-radius: 50%;
        box-shadow: 0 0 10px 0 #F3F3F2; /* para dar sombra a la imagen */
        align-items: center;
    }

    nav a{
        margin: 100px;
        font-size: 1rem;
    }


    footer{
        text-align: center;
        font-size: 10px;
    }
}