<<<<<<< HEAD
/*Muy posiblemente haya que mejorar las buenas practicas, y es posible que algunos valores hubiesen podido
estar junto con otros para no agregar tantas lineas de codigo. Como no rompe nada, asi lo dejo =) */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bruno Ace', cursive;
    font-size: 20px;
}
.container{
    border: 3px solid #000;
    background: #706f6fa5;
    border-radius: 25px;
    margin: 10% auto;
    padding: 30px;
    width: 400px;
    height: 335px;
}
.funciones{
    display: grid;
    grid-gap: 10px;
    text-align: center;
    margin: 10px auto;
}
.modo{
    margin: 0 auto;
    align-items: center;
    border-radius: 50%;
    height: 35px;
    width: 40px;
    filter: drop-shadow(5px 5px 5px #000);
}

.botones{
    display: flex;
}
.botones input{
    display: none;
}

.boton{
    margin: 20px 5px;
    padding-top: 5px;
    display: inline-block;
    border-radius: 50px;
    width: 60px;
    height: 30px;
    background: #00b6fe;
    cursor: pointer;
    text-align: center;
}
.boton:hover{
    box-shadow: 0 0 10px 5px #0015fe89;
}

input{
    box-shadow: 2px 2px #000;
    background-color: rgba(166, 166, 166, 0.014);
}

#resultados{
    font-size: larger;
    text-align: justify;
}

.resultado,
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p{
    font-size: 13px;
}

#suma:checked+ label{   /*el simbolo + edita el elemento que con el valor label que le sigue*/
    background: #00fe00; /*con : se accede a una pseudoclase que en este caso es checked*/
    box-shadow: 0 0 10px 5px #00fe1189;
}
#resta:checked+ label{
    background: #00fe00;
    box-shadow: 0 0 10px 5px #00fe1189;
}
#multiplicacion:checked+ label{
    background: #00fe00;
    box-shadow: 0 0 10px 5px #00fe1189;
}
#division:checked+ label{
    background: #00fe00;
    box-shadow: 0 0 10px 5px #00fe1189;
}
#porcentaje:checked+ label{
    background: #00fe00;
    box-shadow: 0 0 10px 5px #00fe1189;
}

.oscuro{
    background-color: #252525;
    /*solo cambie el color de fondo porque no sabia como cambiar muchas clases con un solo evento, creo
    que se podria llamando a varias funciones o con algun tipo de @mediaqueries.*/
=======
/*Muy posiblemente haya que mejorar las buenas practicas, y es posible que algunos valores hubiesen podido
estar junto con otros para no agregar tantas lineas de codigo. Como no rompe nada, asi lo dejo =) */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bruno Ace', cursive;
    font-size: 20px;
}
.container{
    border: 3px solid #000;
    background: #706f6fa5;
    border-radius: 25px;
    margin: 10% auto;
    padding: 30px;
    width: 400px;
    height: 335px;
}
.funciones{
    display: grid;
    grid-gap: 10px;
    text-align: center;
    margin: 10px auto;
}
.modo{
    margin: 0 auto;
    align-items: center;
    border-radius: 50%;
    height: 35px;
    width: 40px;
    filter: drop-shadow(5px 5px 5px #000);
}

.botones{
    display: flex;
}
.botones input{
    display: none;
}

.boton{
    margin: 20px 5px;
    padding-top: 5px;
    display: inline-block;
    border-radius: 50px;
    width: 60px;
    height: 30px;
    background: #00b6fe;
    cursor: pointer;
    text-align: center;
}
.boton:hover{
    box-shadow: 0 0 10px 5px #0015fe89;
}

input{
    box-shadow: 2px 2px #000;
    background-color: rgba(166, 166, 166, 0.014);
}

#resultados{
    font-size: larger;
    text-align: justify;
}

.resultado,
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p{
    font-size: 13px;
}

#suma:checked+ label{   /*el simbolo + edita el elemento que con el valor label que le sigue*/
    background: #00fe00; /*con : se accede a una pseudoclase que en este caso es checked*/
    box-shadow: 0 0 10px 5px #00fe1189;
}
#resta:checked+ label{
    background: #00fe00;
    box-shadow: 0 0 10px 5px #00fe1189;
}
#multiplicacion:checked+ label{
    background: #00fe00;
    box-shadow: 0 0 10px 5px #00fe1189;
}
#division:checked+ label{
    background: #00fe00;
    box-shadow: 0 0 10px 5px #00fe1189;
}
#porcentaje:checked+ label{
    background: #00fe00;
    box-shadow: 0 0 10px 5px #00fe1189;
}

.oscuro{
    background-color: #252525;
    /*solo cambie el color de fondo porque no sabia como cambiar muchas clases con un solo evento, creo
    que se podria llamando a varias funciones o con algun tipo de @mediaqueries.*/
>>>>>>> 55722864663222edad995f2d0f6fb73bc808829f
}