@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/**{
    border: 2px solid blue;
}*/
html{
    scroll-behavior: smooth;
}

body{
    background-image: url("img/background.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto 0;
    font-family: 'Press Start 2P', cursive;
}

.title{
    margin: 1rem;
    color: white;
}

nav{
    text-decoration: none;
    padding: 10px;
    font-family: 'Press Start 2P', cursive;
}

a{
    padding: 5px;
    background-color: black;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.nombre{
    width: 12rem;
    height: 2rem;
    outline: none;
    font-size: large;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    border: solid #0f0;
    border-radius: 5px;
    box-shadow: 0 0 10px #0f0;
    background: transparent;
    color: white;
}
.jugada{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    cursor: pointer;
}

.jugada:checked+ label{
    border: solid #0f0;
    border-radius: 50%;
    box-shadow: 0 0 100px 50px #0f0;
}

.jugada:hover,
.jugada img:hover{
    box-shadow: 0 0 10px 10px rgba(228, 226, 226, 0.647);
}

.button{
    display: inline-block;
    padding: 2rem;
    & img{
        margin: 1rem;
    }
}

.button input{
    display: none;
}


.select{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        cursor: pointer; 
}

.opciones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.opciones button{
    border-radius: 50%;
    transform: scale(0.6);    
}

.opciones button:hover{
    transform: scale(.9);    
}

img{
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

.container{
    background-color: rgba(214, 213, 213, 0.775);
    border-radius: 50px;
    box-shadow: 0 0 30px 5px rgb(255, 255, 255);
    text-align: center;
}

.rules{
    width: max-content;
    background-color: rgba(223, 219, 219, 0.492);
    border-radius: 50px;
    box-shadow: 0 0 30px 5px rgb(255, 255, 255);
    text-align: center;
    margin: 5rem;
    & h3{
        padding: 0 20px;
    }
}

.resultado{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 6rem;
}

.scoreboard{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    & p{
        font-size: 2rem;
    }
}

.reset__btn{
    display: flex;
    width: 100px;
    height: 80px;
    padding: 25px 0px;
    border-radius: 30%;
    outline: none;
    text-align: center;
    justify-content: center;
    font-family: 'Press Start 2P', cursive;
}

.scoreboard__div{
    background-color: black;
    color: white;
    width: 12rem;
    border-radius: 20px;
}

.video{
    display: flex;
    justify-content: space-around;
    gap: 10vw;
    padding: 50px 50px;
    font-size: 1rem;
    & ul, li{
        list-style: none;
        margin-bottom: 5px;
    }
}


